@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}
